absl-py==0.1.10
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0rc1
bleach==3.1.4
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cmake==0.9.0
cycler==0.10.0
decorator==4.2.1
#dlib==19.5.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
h5py==2.7.1
html5lib==0.9999999
idna==2.6
intel-openmp==2018.0.0
Markdown==2.2.0
matplotlib==2.1.0
mkl==2018.0.0
mock==2.0.0
networkx==2.1
numpy==1.14.0
olefile==0.44
opencv-python==3.4.7.28
pbr==3.1.1
Pillow==6.2.0
protobuf==3.5.1
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.4
requests==2.18.4
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
subprocess32==3.2.7
tornado==4.5.3
tqdm==4.19.5
urllib3==1.22
visdom==0.1.7
Werkzeug==0.15.3
